/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    background-color: #d0d4db;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 147%;
  }
  
  h1 {}
  
  h2 {}
  
  h3 {}
  
  p {
    margin: 0;
  }
  
  
  
  /* ---- layout ---- */
  
  #site-header {
    padding: 30px 0;
    color: white;
    background: #323945;
    list-style-type: none;
    
  }
  
  #site-footer {
    color: white;
    padding: 60px 0;
    background: #323945;
  }
  
  #site-main {
    margin-bottom: 60px;
    margin-left: 70px;
    
  }
  

  .container {
    margin: 0 20px;
  }
  
  .section {
    margin-bottom: 20px;
    padding-top: 20px;
  }
  
  
  .cards-container {
    display: flexbox;
  }

  .flash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    animation: flash 3s ease forwards;
  }


  .bigPhoto {
    display: flexbox;
    width: 700px;
    height: auto;
    border: 5px solid black;
    -webkit-box-shadow: 16px 13px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 13px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 16px 13px 5px 0px rgba(0,0,0,0.75);
    background-color: white;
    font-family: 'Permanent Marker', cursive;
    text-align: left;
  }

  .shoot {
    position: absolute;
    z-index: 2;
  }

  .bigPhoto img {
    width: 100%;
    height: auto;
    border-bottom: 5px solid rgba(0,0,0,0.75);
  }

  .bigPhoto p {
    margin-left: 50px;
    margin-bottom: 10px;
  }

  @media (min-width: 768px) {
    .container {
      max-width: 728px;
      margin: 0 auto;
    }
  }
  

  
  /* ---- components ---- */
  
  .button {
    width: 100%;
    background-color: blue;
    color: #fff;
    border: 1px solid #fff
  }
  
  .button-alt {
    color: blue;
    background-color: #fff;
  }
  
  /* ---- section ---- */
  

  /* animations */

  @keyframes flash{
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }